.php-cs-fixer.cache
.phpintel
.phpunit.result.cache
build
combustor.bak
combustor.yml
composer.lock
tests/Fixture/Sample/controllers
tests/Fixture/Sample/models
tests/Fixture/Sample/repositories
tests/Fixture/Sample/views
tests/Fixture/Sample/views/layout
vendor