<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true"
  failOnPhpunitWarning="false"
  displayDetailsOnPhpunitDeprecations="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true">
  <testsuites>
    <testsuite name="Combustor Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <!-- Used for PHP versions 5.3-5.5 only -->
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-html" target="build/coverage"/>
    <log type="coverage-text" target="build/coverage.txt"/>
  </logging>

  <coverage>
    <!-- Used for PHP versions 7.3-8.0 only -->
    <include>
      <directory suffix=".php">src</directory>
    </include>

    <!-- Used for PHP versions 5.3-5.5, 7.3-present -->
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>

  <!-- Used for PHP versions 8.0-present -->
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
