<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{{ name || 'Combustor' }} <?php echo ($this->uri->segment(1)) ? ' - ' . ucwords(str_replace('_', ' ', $this->uri->segment(1))) : ''; ?></title>
{% for item in styles %}
	<link rel="stylesheet" type="text/css" href="{{ item | raw }}">
{% endfor %}
</head>
<body>
	<div class="">